<div class="table-actions-container">
    <div class="search-container">
        <input type="search" class="search-input" placeholder="Search for {}...">
    </div>
    <div class="sub-actions-container">
        <div class="actions-btn-container">
            <button class="master-actions-btn">
                <span>Actions</span>
                <i class='bx bx-chevron-down action-dropdown-btn'></i>
            </button>
            <div class="actions-subcontainer closed">
                <button class="actions-btn" type="button">
                    <span>Bulk Accept</span>
                    <i class='bx bx-check-circle accept' ></i>
                </button>
                <button class="actions-btn" type="button">
                    <span>Bulk Reject</span>
                    <i class='bx bx-x-circle reject' ></i>
                </button>
            </div>
        </div>
        <button type="button" class="sort-btn">
            <i class='bx bx-sort-alt-2'></i>
        </button>
    </div>
</div>